.contact {
    height: 60vh;
    width: 100vw;
}

.contact__container {
    height: 100%;
    @include flexCenter(row);
    flex-wrap: wrap;
    flex-grow: 1;

    .contact__textBox {
        height: 50%;
        padding-right: 150px;
        @include flexCenter(column);

        .contact__title, .contact__desc {
            display: block;
            position: relative;
        }

        .contact__title {
            top: -40px;
            font-size: 36px;
            font-weight: 700;
        }

        .contact__desc {
            font-size: 14px;
            width: 430px;
        }

        @media (max-width: 700px) {    
            .contact__desc {
                width: 90%;
                text-align: justify;
            }
        }
    }

    .contact__inputBox {
        @include flexCenter(column);
        width: 540px;
        padding-left: 150px;
    }

    .contact__nameInputs {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .contact__input {
        box-sizing: border-box;
        width: 540px;
        height: 56px;
        padding: 15px 30px;
        font-size: 16px;
        border: 1px solid #333333;
        border-radius: 6px;
        margin-top: 30px;
    }

    .contact__input--name {
        width: 250px; 
        height: 56px;
    }

    .contact__btn {
        align-self: flex-start;
        margin-top: 30px;
        border: none;
        background-color: #ED4C5C;
        color: white;
        font-size: 14px;
        padding: 15px;
        width: 150px;
        border-radius: 6px;
        margin-bottom: 40px;
    }

    @media (max-width: 1400px) {
        .contact__inputBox, .contact__textBox {
            padding: 0 40px;
        }

        .contact__textBox {
            height: 30%;
            margin-top: 50px;
        }
    }

    @media (max-width: 700px) {
        .contact__form {
            width: 100%;
        }

        .contact__input {
            width: 100%;
        }

        .contact__input--name {
            width: 48%;
        }
    }
}


#check:checked ~ ul {
    display: block;
}