.message {
    height: 60vh;
    width: 100vw;
    background-color: #ED4C5C;
    color: white;
}

.message__container {
    height: 100%;
    @include flexCenter(row);
    flex-grow: 1;

    .message__text {
        width: 50%;
        height: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .message__textBox {
            @include flexCenter(column);
            width: 80%;

            .message__title, .message__icons {
                font-size: 36px;
                text-align: left;
            }

            .message__title {
                width: 70%;
                align-self: flex-start;
            }

            .message__desc {
                text-align: justify;
                margin-top: 50px;
            }

            .message__icons {
                margin-top: 40px;
                width: 100%;
            }
        }
        
    }

    .message__pictures {
        width: 50%;
        height: 80%;
        @include flexCenter(row);

        // NA TYCH WARTOŚCIACH BĘDZIE TRZEBA ZROBIĆ DUŻO QUERIES!!! żeby cały czas ładnie wystawały
        .message__pictureBox {
            @include flexCenter(row);
            width: 60%;
            position: relative;

            .message__img1, .message__img2, .message__img3 {
                position: absolute;
            }
            .message__img1 {
                right: 30%;
                z-index: 0;
            }
            .message__img2 {
                z-index: 1;
            }
            .message__img3 {
                left: 30%;
                z-index: 0;
            }
        }
    }

 
}

@media (max-width: 1400px) {
    .message__container {
        flex-direction: column;
    }
    

    .message {
        height: 90vh;

        .message__text {
            width: 80%;
            justify-content: center;

            .message__textBox {
                .message__title, .message__icons, .message__desc  {
                    align-self: center;
                    text-align: center;
                }

                .message__title {
                    width: 100%;
                }

            }
        }
    }


}

@media (max-width: 900px) {
    .message__img1, .message__img2, .message__img3 {
        height: auto;
        width: 150%;
    }

    .message__img1, .message__img3 {
        width: 120%;
    }

    .message .message__text {
        width: 90%;

        .message__title {
            margin-top: 40px;
        }
    }
}

@media (max-width: 700px) {
    
    .message__img1, .message__img2, .message__img3 {
        width: 190%;
    }

    .message__img1, .message__img3 {
        width: 160%;
    }
}

@media (max-width: 340px) {
    
    .message {
        height: 120vh;
    }
}

// @media (max-width: 1100px) {
   

// }
