@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
.technology {
  height: 60vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.technology__header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 36px;
}

.technology__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.technology__box {
  position: relative;
  width: 230px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 30px;
}

.technology__box .technology__box__bg {
  justify-self: flex-start;
  height: 50%;
}

.technology__box .technology__box__bg .technology__num {
  font-size: 100px;
  color: rgba(16, 16, 16, 0.08);
}

.technology__box .technology__box__bg .technology__icon {
  position: relative;
  top: -45%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
}

.technology__box .technology__title {
  font-weight: 700;
  font-size: 18px;
  margin-top: 15px;
}

.technology__box .technology__desc {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

@media (max-width: 1230px) {
  .technology {
    height: 100vh;
  }
}

@media (max-width: 750px) {
  .technology {
    height: 130vh;
  }
}

.features {
  height: 90vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FAFAFA;
}

.features__header {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 36px;
}

.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__box {
  position: relative;
  width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features__box .features__bgBox {
  justify-self: flex-start;
}

.features__box .features__textBox {
  position: relative;
  top: -80px;
  z-index: 1;
  background-color: white;
  width: 260px;
  height: 300px;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features__box .features__textBox .features__title {
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
}

.features__box .features__textBox .features__desc {
  text-align: center;
  padding: 10px;
  font-size: 12px;
}

@media (max-width: 1230px) {
  .features {
    height: 140vh;
  }
  .features__box, .features__header {
    margin-top: 30px;
  }
}

@media (max-width: 1050px) {
  .features {
    height: 110vh;
  }
  .features__box, .features__header {
    margin-top: 30px;
  }
}

@media (max-width: 800px) {
  .features {
    height: 220vh;
  }
  .features__box, .features__header {
    margin-top: 30px;
  }
}

.contact {
  height: 60vh;
  width: 100vw;
}

.contact__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contact__container .contact__textBox {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__container .contact__textBox .contact__title, .contact__container .contact__textBox .contact__desc {
  display: block;
  position: relative;
}

.contact__container .contact__textBox .contact__title {
  top: -40px;
  font-size: 36px;
  font-weight: 700;
}

.contact__container .contact__textBox .contact__desc {
  font-size: 14px;
  width: 430px;
}

.contact__container .contact__inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 540px;
}

.contact__container .contact__nameInputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact__container .contact__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 540px;
  height: 56px;
  padding: 15px 30px;
  font-size: 16px;
  border: 1px solid #333333;
  border-radius: 6px;
}

.contact__container .contact__input--name {
  width: 250px;
  height: 56px;
}

.contact__container .contact__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.message {
  height: 60vh;
  width: 100vw;
  background-color: #ED4C5C;
  color: white;
}

.message__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.message__container .message__text {
  width: 50%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message__container .message__text .message__textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.message__container .message__text .message__textBox .message__title, .message__container .message__text .message__textBox .message__icons {
  font-size: 36px;
  text-align: left;
  width: 100%;
}

.message__container .message__text .message__textBox .message__desc {
  text-align: justify;
  margin-top: 50px;
}

.message__container .message__text .message__textBox .message__icons {
  margin-top: 40px;
}

.message__container .message__pictures {
  width: 50%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.message__container .message__pictures .message__pictureBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  position: relative;
}

.message__container .message__pictures .message__pictureBox .message__img1, .message__container .message__pictures .message__pictureBox .message__img2, .message__container .message__pictures .message__pictureBox .message__img3 {
  position: absolute;
}

.message__container .message__pictures .message__pictureBox .message__img1 {
  right: 30%;
  z-index: 0;
}

.message__container .message__pictures .message__pictureBox .message__img2 {
  z-index: 1;
}

.message__container .message__pictures .message__pictureBox .message__img3 {
  left: 30%;
  z-index: 0;
}

@media (max-width: 1400px) {
  .message__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .message {
    height: 90vh;
  }
}

:root {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  letter-spacing: 1px;
}

.hero {
  width: 100vw;
  height: 100vh;
}

.hero--bg1 {
  background: url(../media/bg-hero.png);
  background-size: cover;
  position: relative;
}

.hero--bg1 .hero--bg2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(213, 32, 71, 0.8)), to(rgba(238, 61, 27, 0.8)));
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8), rgba(238, 61, 27, 0.8));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__navbar {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100px;
  letter-spacing: 1px;
}

.hero__navbar .hero__navbar__title {
  font-size: 2.2vh;
  width: 30vw;
  margin: 0 14vw;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__navbar .hero__navbar__title::before {
  content: '';
  height: 21px;
  width: 25px;
  display: inline-block;
  background: url(../media/cloud.png);
  background-repeat: no-repeat;
  padding: 0 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero__navbar .hero__navbar__list {
  font-size: 14px;
  width: 70vw;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  margin: 0 11vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.hero__navbar .hero__navbar__list li {
  padding: 0 10px;
  white-space: nowrap;
}

.hero__navbar .hero__navbar__list a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1200px) {
  .hero__navbar .hero__navbar__list {
    position: absolute;
    top: 100px;
    left: -100%;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    font-size: 16px;
    background-color: rgba(238, 238, 238, 0.3);
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .hero__navbar .hero__navbar__title {
    font-size: 20px;
    width: 80vw;
    margin-left: 25px;
  }
  .hero__navbar .hero__navbar__title:hover {
    background-color: blue;
  }
}

.hero__container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero__container .hero__container__title {
  font-size: 3.8vw;
  font-weight: 700;
  padding: 0 30vw;
}

.hero__container .hero__container__desc {
  text-align: center;
  font-size: 24px;
  margin-top: 5vh;
  padding: 0 20%;
}

.hero__container .hero__container__btn {
  border-radius: 6px;
  border: 0;
  background-color: white;
  color: #D52047;
  padding: 16px 51px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 5vh;
}

.hero__container .hero__container__btn:focus {
  outline: none;
}

@media (max-width: 1000px) {
  .hero__container .hero__container__title {
    padding: 0 0 50px 0;
    font-size: 36px;
  }
  .hero__container .hero__container__desc {
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0 30px;
  }
  .hero__container .hero__container__btn {
    margin-top: 7vh;
  }
}

input:focus {
  outline: none;
}
/*# sourceMappingURL=style.css.map */